<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Order</title>
</head>
<body>

<div align="left">
    <h3>Edit Order</h3>
    <br />
    <form action="#" th:action="@{'/submit/'+${orders.id}}" th:object="${orders}" method="get">
        <input type="hidden" th:field="*{id}" />
        <table border="0" cellpadding="10">
            <tr>
                <td>Order Date:</td>
                <td><input type="date" th:field="*{orderDate}" th:value="${orderDate}" /></td>
            </tr>
            <tr>
                <td>Order Mode:</td>
                <td><input type="text" th:field="*{orderMode}" /></td>
            </tr>
            <tr>
                <td>Customer id:</td>
                <td><input type="text" th:field="*{customerId}" /></td>
            </tr>
            <tr>
                <td>Order Total:</td>
                <td><input type="text" th:field="*{orderTotal}" /></td>
            </tr>
            <tr>
                <td>Sales Rep id:</td>
                <td><input type="text" th:field="*{salesRepId}" /></td>
            </tr>
            <tr>
                <td>Promotion id:</td>
                <td><input type="text" th:field="*{promotionId}" /></td>
            </tr>
        </table>

        <h3>Order detail</h3>
        <table border="0" cellpadding="10">
            <thead>
            <tr>
                <th>Select</th>
                <th>Quantity</th>
                <th>Product ID</th>
                <th>Unit Price</th>
                <th>Line Item ID</th>
            </tr>
            </thead>
            <tbody id="order-details-table">
            <!--            <tr th:each="orderDetail : ${orderDetailList}">-->
            <!--                <td><input type="checkbox"></td>-->
            <!--                <td><input type="text" th:field="*{orderDetail.quantity}"  /></td>-->
            <!--                <td><input type="text" th:field="*{orderDetail.productId}"  /></td>-->
            <!--                <td><input type="text" th:field="*{orderDetail.unitPrice}"  /></td>-->
            <!--                <td><input type="text" th:field="*{orderDetail.lineItemId}"  /></td>-->
            <!--            </tr>-->
            </tbody>
        </table>

        <div class="actions">
            <button id="add-new-btn" type="button">Add Row</button>

            <script>
                const btn = document.getElementById('add-new-btn');
                const orderDetailsTable = document.getElementById('order-details-table');

                function appendHTML() {
                    const newRow = document.createElement('tr');
                    newRow.innerHTML = `
                        <td><input type="checkbox" /></td>
                        <td><input type="text" name="quantity[]" /></td>
                        <td><input type="text" name="productId[]" /></td>
                        <td><input type="text" name="unitPrice[]" /></td>
                        <td><input type="text" name="lineItemId[]" /></td>
                    `;
                    orderDetailsTable.appendChild(newRow);
                }

                btn.addEventListener('click', appendHTML);
            </script>

            <button type="submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>
